<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openFirst()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Header</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="takePicture()">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>{{ user.firstname }} {{ user.lastname }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-img [src]="imageURL"></ion-img> -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentModal()">
      <ion-icon name="add"> </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Footer Baby </ion-title>
  </ion-toolbar>
</ion-footer>
